@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }
  html:before, html:after, body:before, body:after, div:before, div:after, span:before, span:after, object:before, object:after, iframe:before, iframe:after,
  h1:before,
  h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after, p:before, p:after, blockquote:before, blockquote:after, pre:before, pre:after,
  abbr:before,
  abbr:after, address:before, address:after, cite:before, cite:after, code:before, code:after,
  del:before,
  del:after, dfn:before, dfn:after, em:before, em:after, img:before, img:after, ins:before, ins:after, kbd:before, kbd:after, q:before, q:after, samp:before, samp:after,
  small:before,
  small:after, strong:before, strong:after, var:before, var:after,
  b:before,
  b:after, i:before, i:after,
  dl:before,
  dl:after, dt:before, dt:after, dd:before, dd:after, ol:before, ol:after, ul:before, ul:after, li:before, li:after,
  fieldset:before,
  fieldset:after, form:before, form:after, label:before, label:after, legend:before, legend:after,
  article:before,
  article:after, aside:before, aside:after, canvas:before, canvas:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after,
  footer:before,
  footer:after, header:before, header:after, hgroup:before, hgroup:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after,
  time:before,
  time:after, mark:before, mark:after, audio:before, audio:after, video:before, video:after, button:before, button:after {
    box-sizing: border-box; }

sub,
sup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box; }
  sub:before, sub:after,
  sup:before,
  sup:after {
    box-sizing: border-box; }

a:before, a:after {
  box-sizing: border-box; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: none; }

q:before, q:after {
  content: none; }

:focus {
  outline: 0; }

input[type="text"], textarea {
  -webkit-appearance: none; }
  input[type="text"]::-ms-clear, textarea::-ms-clear {
    display: none; }

input,
textarea {
  border-radius: 0;
  box-sizing: border-box; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #000; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #000; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #000; }
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: transparent; }
  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: transparent; }
  input:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder {
    color: transparent; }

textarea {
  resize: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  word-wrap: break-word; }

html {
  font: 400 10px/1.33 'Montserrat'; }

body {
  background-image: linear-gradient(135deg, #8f24ed 30%, #107cb3 100%); }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; }

.menu_wrap {
  position: relative;
  max-width: 32em;
  width: 100%;
  height: 56.8em;
  margin: auto;
  padding: 1em;
  font-size: 1rem;
  border-radius: 1em;
  box-shadow: 0 0 0 1.2em rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1.2em white;
  background-color: #eaecef;
  overflow: hidden; }

.menu_wrap_trigger {
  position: absolute;
  top: 24px;
  right: 26px;
  z-index: 1;
  font-size: 1.6em;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  cursor: pointer; }
  .menu_wrap_trigger.close_menu_mod {
    opacity: 0;
    pointer-events: none; }

.menu_wrap_title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 900;
  font-size: 3.2em;
  text-align: center;
  line-height: 0.875em;
  text-transform: uppercase;
  transform: translate(-50%, -50%); }

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  pointer-events: none; }

.menu_list {
  margin: auto; }

.menu_list_item {
  margin-bottom: .8em; }

.menu_list_link,
.menu_list_title {
  display: block;
  font-weight: 900;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -1.2px; }

.menu_list_link {
  position: relative;
  font-size: 5em;
  color: transparent; }

.menu_list_title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  color: #282828; }
