@import "fonts.scss";
@import "reset.scss";

@mixin d3() {
	will-change: transform;
	transform: translateZ(0);
}

html {
	font: 400 10px/1.33 'Montserrat';
}

body {
	background-image: linear-gradient(135deg, #8f24ed 30%, #107cb3 100%);
}

// menu_wrap
.wrapper {
	display: flex;
	flex-direction: column;

	height: 100vh;
	overflow: hidden;
}

.menu_wrap {
	position: relative;

	max-width: 32em;
	width: 100%;
	height: 56.8em;
	margin: auto;
	padding: 1em;

	font-size: 1rem;

	border-radius: 1em;
	box-shadow: 0 0 0 1.2em rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1.2em white;
	background-color: #eaecef;
	overflow: hidden;
}

.menu_wrap_trigger {
	position: absolute;
	top: (2.4em/1.6);
	right: (2.6em/1.6);
	z-index: 1;
	
	font-size: 1.6em;
	font-weight: 900;
	letter-spacing: -1px;
	text-transform: uppercase;
	
	cursor: pointer;

	transition: all .3s ease;
	will-change: transform;

	&.close_menu_mod {
		opacity: 0;
		pointer-events: none;

		transform: translateX(-1em);
	}

	&:before {
		position: absolute;
    bottom: -2px;
		left: 0;
		z-index: -1;
		
    width: 100%;
    height: (1.2em/1.6);
		
		background-image: linear-gradient(0deg, #ee43bd 0%, #ffd779 100%);
		
		transform: translateX(-.7rem);
		will-change: transform;
		content: "";
		
    transition: all 0.2s ease;
	}

	&:hover {
		&:before {
			transform: translateX(0);
		}
	}

}

.menu_wrap_title {
	position: absolute;
	top: 50%;
	left: 50%;

	font-weight: 900;
	font-size: 3.2em;
	text-align: center;
	line-height: (2.8em/3.2);
	text-transform: uppercase;

	transform: translate(-50%, -50%);
}

// menu
.menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	opacity: 0;

	pointer-events: none;

	transition: opacity .3s ease;

	&.active_mod {
		opacity: 1;
		pointer-events: auto;
	}

}

.menu_list {
	margin: auto;
}

.menu_list_item {
	margin-bottom: .8em;
}

.menu_list_link {
	position: relative;

	display: block;

	font-size: 5em;
	color: transparent;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: -1.2px;
}

.menu_list_title {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	
	color: #282828;

	@include d3();
}

.menu_w_decor {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.menu_decor_w_line {
	height: 100%;
	position: relative;
	
	overflow: hidden;

	&.lg_mod {
		width: calc(33.33% - 1.4em);
	}

	&:first-child {
		width: 2.1em;
	}

	&:last-child {
		width: 2.1em;
	}

}

.menu_decor_line {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	opacity: 0;

	background-color: #fff;

	@include d3();

	&:before {
		position: absolute;
		top: 0;
		left: 0;

		width: 1px;
		height: 100%;

		background-color: #edeff5;

		content: "";
	}

}